@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2b2a2c;
}

* {
  scrollbar-width: none;
  scrollbar-color: #f93e51 #ffffff;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f93e51;
  border-radius: 16px;
  border: 0px none #ffffff;
}
